.btn-primary{
    @include btn-primary;
}
.btn-secondary{
    @include btn-secondary;
    display: flex;
    align-items: center;
    position: relative;
    span{
        background-color: $primary-color;
        padding: 2% 3.4%;
        border-radius: 50%;
        position: relative;
        right: 10%;
        color: white;
        font-weight: 400;
        font-size: small;
    }
    .fas{
        padding-right: 7%;
    }
}