@mixin shadow{
    box-shadow: -2px 4px 10px lighten($monochrome, 85%);
}

@mixin card{
    background-color: #ffffff;
    border-radius: 15px;
}

@mixin btn-primary {
    background-color:$secondary-color;
    border-color:$secondary-color;
    border-style: none;
    color: #ffff;
    padding: 4%;
    margin: 10% 0% 5% 0%;
    border-radius: 30px;
    @include shadow;
}

@mixin btn-secondary {
    background-color: lighten($secondary-color, 25%);
    border-color: lighten($secondary-color,30%);
    border-style: none;
    display: flex;
    align-items: center;
    position: relative;
    padding: 5%;
    margin-bottom: 10%;
    width: 90%;
    border-radius: 15px;
    @include shadow;
    span{
        background-color: $primary-color;
        padding: 2% 3.4%;
        border-radius: 50%;
        position: relative;
        right: 10%;
        color: white;
        font-weight: 400;
        font-size: small;
    }
    .fas{
        padding-right: 7%;
        color: lighten($monochrome, 50%);
    }
}