@mixin shadow{
    box-shadow: -2px 4px 10px lighten($secondary-color, 0%);
}

@mixin card{
    background-color: #ffffff;
    border-radius: 15px;
}

@mixin btn-primary {
    background-color:$secondary-color;
    border-color:$secondary-color;
    border-style: none;
    color: #ffff;
    padding: 4%;
    border-radius: 30px;
    @include shadow;
}

@mixin btn-secondary {
    background-color: lighten($secondary-color, 25%);
    border-color: lighten($secondary-color,30%);
    border-style: none;
    padding: 5%;
    margin-bottom: 10%;
    width: 90%;
    border-radius: 15px;
    @include shadow;
}