.btn-primary {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  border-style: none;
  color: #ffff;
  padding: 4% 10% 4% 10%;
  margin: 10% 0% 20% 0%;
  border-radius: 30px;
  -webkit-box-shadow: -2px 4px 10px #d9d9d9;
          box-shadow: -2px 4px 10px #d9d9d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.btn-primary:active {
  background-image: -webkit-gradient(linear, left top, right top, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to right, #FF79DA, #9356DC);
}

.btn-secondary {
  background-color: #fff9fd;
  border-color: white;
  border-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 5%;
  margin-bottom: 10%;
  width: 90%;
  border-radius: 15px;
  -webkit-box-shadow: -2px 4px 10px #d9d9d9;
          box-shadow: -2px 4px 10px #d9d9d9;
}

.btn-secondary span {
  background-color: #9356DC;
  padding: 2% 3.4%;
  border-radius: 50%;
  position: relative;
  right: 10%;
  color: white;
  font-weight: 400;
  font-size: small;
}

.btn-secondary .fas {
  padding-right: 7%;
  color: gray;
}

.btn-secondary:active {
  background-color: #f2eafb;
}

.btn-secondary:active .fas {
  color: #9356DC;
}

.btn-primary, .btn-secondary {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: medium;
}

main h2, main h3 {
  font-weight: 700;
}

.under-header-menu h2 {
  font-family: 'Shrikhand';
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 0%;
}

.section-menu h3 {
  font-weight: 300;
  margin: 15% 0% 5% 4%;
  border-bottom: 2px solid #99E2D0;
  width: 10%;
  text-transform: uppercase;
}

.section-menu h4 {
  width: 80%;
  padding: 3% 5% 0% 5%;
  margin: 0%;
}

h4 {
  margin: 3.5% 0% 3.5% 0%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 0%;
  margin: 0%;
  font-family: 'roboto', Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #9356DC;
}

li {
  list-style-type: none;
}

header h1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-menu h1 {
  width: 50%;
  margin-right: 20%;
}

.under-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.under-header__city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: #e6e6e6;
  -webkit-box-shadow: -2px 4px 10px black;
          box-shadow: -2px 4px 10px black;
}

.under-header__city .fas {
  padding-right: 5%;
}

.block-under-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  background: #fff3fc;
}

.block-under-header h2, .block-under-header p {
  width: 80%;
  margin-bottom: 0%;
}

.under-header-menu {
  width: 100%;
  background: #fff3fc;
}

.under-header-menu figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0%;
  position: relative;
}

.under-header-menu figure img {
  width: 100%;
  max-height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.under-header-menu figure figcaption {
  border-radius: 30px 30px 0px 0px;
  background: #fff6fd;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  top: -30px;
}

.main-menu {
  background: #fff6fd;
}

nav h2 {
  padding: 5%;
}

nav ul {
  padding: 0% 5% 0% 10%;
}

.section-restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background: #fff6fd;
  padding: 10% 0% 0% 0%;
}

.section-restaurants h2 {
  margin: 5%;
}

.section-restaurants article {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.section-restaurants article figure {
  -webkit-box-shadow: -2px 4px 10px #d9d9d9;
          box-shadow: -2px 4px 10px #d9d9d9;
  background-color: #ffffff;
  border-radius: 15px;
  margin: 0% 3% 10% 3%;
}

.section-restaurants article figure figcaption {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0% 5% 0% 5%;
}

.section-restaurants article figure figcaption h3 {
  width: 70%;
  margin-bottom: 0%;
}

.section-restaurants article figure figcaption p {
  width: 60%;
  margin: 1% 0% 5% 0%;
}

.section-restaurants article img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-menu section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-menu section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
  margin: 2%;
  padding: 1%;
  background-color: #ffffff;
  border-radius: 15px;
  -webkit-box-shadow: -2px 4px 10px #d9d9d9;
          box-shadow: -2px 4px 10px #d9d9d9;
}

.section-menu section article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0% 5% 3% 5%;
}

.section-menu section article div p {
  margin: 0%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section-menu section article .fa-check-circle {
  display: none;
}

footer {
  background-color: #333333;
}

footer h3 {
  margin: 5% 0% 5% 5%;
}

footer h3 .white_filter {
  -webkit-filter: invert(1) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(150%) contrast(150%);
          filter: invert(1) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(150%) contrast(150%);
  width: 33%;
}

footer ul {
  padding: 0%;
  margin: 0% 0% 5% 5%;
}

footer ul li {
  padding: 2% 0% 2% 0%;
}

footer ul li .fas {
  margin-right: 3%;
}

footer ul li a {
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */