.btn-primary {
  background-color: #FF79DA;
  border-color: #FF79DA;
  border-style: none;
  color: #ffff;
  padding: 4%;
  border-radius: 30px;
  -webkit-box-shadow: -2px 4px 10px #ff79da;
          box-shadow: -2px 4px 10px #ff79da;
}

.btn-secondary {
  background-color: #fff9fd;
  border-color: white;
  border-style: none;
  padding: 5%;
  margin-bottom: 10%;
  width: 90%;
  border-radius: 15px;
  -webkit-box-shadow: -2px 4px 10px #ff79da;
          box-shadow: -2px 4px 10px #ff79da;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.btn-secondary span {
  background-color: #9356DC;
  padding: 2% 3.4%;
  border-radius: 50%;
  position: relative;
  right: 10%;
  color: white;
  font-weight: 400;
  font-size: small;
}

.btn-secondary .fas {
  padding-right: 7%;
}

.btn-primary, .btn-secondary {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: small;
}

h1, h2, h3 {
  font-family: 'Shrikhand';
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 0%;
  margin: 0%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #9356DC;
}

li {
  list-style-type: none;
}

header h1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.under-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.under-header__city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: #f4eefc;
  -webkit-box-shadow: -2px 4px 10px #ff79da;
          box-shadow: -2px 4px 10px #ff79da;
}

.block-under-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-bottom: 5%;
  background: #fff6fd;
}

.block-under-header p, .block-under-header h2 {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.under-header-menu {
  width: 100%;
  background: #fff6fd;
}

.under-header-menu figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0%;
  position: relative;
}

.under-header-menu figure img {
  width: 100%;
  max-height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.under-header-menu figure figcaption {
  border-radius: 15px 15px 0px 0px;
  background: #fff6fd;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  top: -30px;
}

.main-menu {
  background: #fff6fd;
}

nav h2 {
  padding: 5%;
}

nav ul {
  padding-left: 8%;
}

.section-restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background: #fff6fd;
}

.section-restaurants h2 {
  margin: 5%;
}

.section-restaurants article {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.section-restaurants article figure {
  -webkit-box-shadow: -2px 4px 10px #ff79da;
          box-shadow: -2px 4px 10px #ff79da;
  background-color: #ffffff;
  border-radius: 15px;
  margin: 0% 5% 20% 5%;
}

.section-restaurants article figure figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0% 5% 0% 5%;
}

.section-restaurants article figure figcaption h3 {
  width: 70%;
  margin: 0%;
}

.section-restaurants article figure figcaption p {
  width: 60%;
  margin: 1% 0% 5% 0%;
}

.section-restaurants article img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-menu h3 {
  width: 90%;
}

.section-menu section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-menu section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
  margin: 2%;
  padding: 1%;
  background-color: #ffffff;
  border-radius: 15px;
  -webkit-box-shadow: -2px 4px 10px #ff79da;
          box-shadow: -2px 4px 10px #ff79da;
}

.section-menu section article h4 {
  width: 80%;
  padding: 3% 5% 0% 5%;
  margin: 0%;
}

.section-menu section article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0% 5% 3% 5%;
}

.section-menu section article div p {
  margin: 0%;
}

.section-menu section article .fa-check-circle {
  display: none;
}

footer {
  background-color: #FF79DA;
}

footer h3 {
  margin: 5% 0% 5% 5%;
}

footer h3 .white_filter {
  -webkit-filter: invert(1) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(150%) contrast(150%);
          filter: invert(1) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(150%) contrast(150%);
  width: 33%;
}

footer ul {
  padding: 0%;
  margin: 0% 0% 5% 5%;
}

footer ul li {
  padding: 2% 0% 2% 0%;
}

footer ul li a {
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */