@keyframes loading {
    to{
        transform: rotate(1turn);
    }
}

@keyframes landing{  

    0%, 50%{
        opacity: 0;
        transform-origin: top;
        transform: translateY(50px) ;
    }

    100%{
        opacity: 1;
        transform-origin: top;
        transform: translateY(0);
    }
}

@keyframes filling{
    from {
		transform: scale3d(0.2, 0.2, 1);
	}
    to{
		transform: scale3d(1, 1, 1);
    }
}
