@keyframes loading {
    to{
        transform: rotate(1turn);
    }
}

@keyframes landing{  

    0%, 50%{
        opacity: 0;
        transform-origin: top;
        transform: translateY(50px) ;
    }

    100%{
        opacity: 1;
        transform-origin: top;
        transform: translateY(0);
    }
}