footer{
    background-color: lighten($monochrome, 20%);
    h3{
        margin:5% 0% 5% 5%;
        .white_filter{
            filter:invert(1) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(150%) contrast(150%);
            width:  33%;
        }      
    }
    ul{
        padding: 0%;
        margin: 0% 0% 5% 5%;
        li{
            padding: 2% 0%;
            .fas{
                margin-right: 3%;
            }
            a{
                color: #ffffff;
            }            
        }
    }
} 

@media screen and (min-width:768px){
    footer{
        h3{
            width: 33%;
            margin: 3% 33%;
            display: flex;
            justify-content: space-around;
        }
        ul{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            margin: 0% 0% 3% 7%;          

            li{
                width: 20%;
                padding: 1% 0%;

            }
        }
    }
}