header{
    h1{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}


.header-menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    h1{
        width: 50%;
        margin-right: 20%;
    }
}