.under-header{
    display: flex;
    flex-direction: column;

    &__city{
        display: flex;
        flex-flow: row nowrap;
        align-items: baseline;
        justify-content: center;
        width: 100%;
        background: lighten($monochrome, 90%);
        box-shadow: -2px 4px 10px $monochrome;
        .fas{
            padding-right: 5%;
        }
    }
}
.block-under-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    background: lighten($secondary-color, 24%);
    
    h2, p{
        width: 80%;
        margin-bottom: 0%;
    }
}

nav{
    h2{
        padding: 5%;
    }
    ul{
        padding: 0% 5% 0% 10%;
    }
}

.section-restaurants{
    display: flex;
    flex-direction: column;
    background: lighten($secondary-color, 24.5%);
    padding: 10% 0% 0% 0%;
    
    article{
        width: 100%;
        display: flex;
        flex-flow: column nowrap;

        .far{
            position: relative;
            bottom: 100px;
            left: 85%;
            width: 5%;
            margin: 0%;
            padding: 2% 0%;
        }

        h4{
            position: relative;
            bottom: 190px; 
            color: darken($tertiary-color, 40%);
            background-color: $tertiary-color;
            width: 20%;
            padding: 2%;
            margin: auto;
            text-align: center;
        }
        figure{
            @include shadow;
            @include card;
            margin: 0% 3% 10% 3%;

            figcaption{
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                margin: 0% 5% 0% 5%;

                h3{
                    width: 70%;
                    margin-bottom: 0%;
                }
                p{
                    width: 60%;
                    margin: 1% 0% 5% 0% ;
                }
                .fas{
                    display: none;
                }                                    
            }
        }

        img{
            width: 100%;
            border-radius: 15px 15px 0px 0px;
            max-height: 200px;
            object-fit:cover;
        }             
    }   
}


@media screen and (min-width:768px) {

    nav{
        h2{
            padding: 5%;
            text-align: center
        }
        ul{
            padding: 0% 0% 2% 2%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            li{
                width: 30%;
            }
        }
        .btn-secondary{
            span{
                padding:2% 4%;
            }
        }
    }

    .section-restaurants{
        flex-flow: row wrap;
        padding: 0%;
        h2{
            width: 100%;
            text-align: center;
        }
        article{
            width: 50%;
            .far{
                padding: 2% 1%
            }
        }
    }    
}

@media screen and (min-width: 1080px){
    .under-header__city .fas{
        padding-right: 1%;
    }
    nav{
        h2{
            padding: 2%;
        }
        .btn-secondary{
            margin: 0%;
            span{
                padding:2% 3%;
            }
        }
    }
    .section-restaurants{

        article{
            width: 25%;
        }
    }
    
}