
.main-menu{
    background: lighten($secondary-color, 24.5%);
}

.under-header-menu{
    width: 100%;
    background: lighten($secondary-color, 24%);
    figure{
        display: flex;
        flex-flow: row wrap;
        margin: 0%;
        position: relative;
        img{
        width: 100%;
        max-height: 250px;
        object-fit: cover;
        }
        figcaption{
           border-radius: 30px 30px 0px 0px;
           background: lighten($secondary-color, 24.5%);
           width: 100%;
           height: auto;
           display: flex;
           flex-direction: row;
           align-items: baseline;
           justify-content: space-around;
           position: relative;
           top: -30px;
        }
    }
}

.section-menu{
    display: flex;
   flex-direction: column;
    section{
        display: flex;
        flex-direction: column;
        article{
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            width: 95%;
            margin: 2%;
            padding: 1%;
            @include card;
            @include shadow;

            .fa-check-circle{
                display: contents;
                margin: 30px;
                color: $tertiary-color;
                width: 10%;
            }
            div{
                display: flex;
                flex-flow: row nowrap;
                padding: 0% 5% 3% 5%;
                width: 90%;
                p{
                    margin: 0%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                span{
                    margin-left: auto;
                    padding: 0% 5%;
                }

                .far{
                    display: contents;
                    color: $tertiary-color;
                    background-color: $tertiary-color;
                }
            }  
        }
    }
}