
.main-menu{
    background: lighten($secondary-color, 24.5%);
}

.under-header-menu{
    width: 100%;
    background: lighten($secondary-color, 24%);
    figure{
        display: flex;
        flex-flow: row wrap;
        margin: 0%;
        position: relative;
        img{
        width: 100%;
        max-height: 250px;
        object-fit: cover;
        }
        figcaption{
           border-radius: 30px 30px 0px 0px;
           background: lighten($secondary-color, 24.5%);
           width: 100%;
           height: auto;
           display: flex;
           flex-direction: row;
           align-items: baseline;
           justify-content: space-around;
           position: relative;
           top: -30px;
        }
    }
}

.section-menu{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;

    &__text{
        display: flex;
        flex-flow: column nowrap;
        padding: 0% 4%;
        width: 72%;
        span{
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: space-between;
            b{
                width: 10%;
                padding-left: 4%;
            }
        }
        p{
            margin: 0%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    }
    &__animation{
        display: flex;
        align-self: center;
        background-color: $tertiary-color;
        border-radius: 0px 15px 15px 0px;
        padding: 7% 5%;
        
        .fas{
            color: lighten($monochrome, 100%);
        }
    }
    
    
    article{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 95%;
        margin: 5% auto;
        @include card;
        @include shadow;
    }
}

.section-menu{
    article:hover{
        
        .section-menu__animation{
                
                transform-origin:100%;
                transform: scaleX(0);
                transition: transform 500ms ease-in-out;

        
            .fas{
                transform: rotate(180deg);
                transition: transform 900ms;
            }
        }
    }
}
