body{
    font-family:'roboto', Arial, Helvetica, sans-serif;
}
.btn-primary, .btn-secondary{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: medium;
}
main{
   h2, h3{
    font-weight: 900;
    } 
}
.under-header__city{
    h4{
        margin: 3.5% 0% 3.5% 0%;
    }
}
.section-restaurants{
    h2{
        margin: 5%;
    }
}



.under-header-menu{
    h2{
        font-family: 'Shrikhand';
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 0%;
    }   
}
.section-menu{
    h3{
        font-weight: 300;
        margin: 15% 0% 5% 4%;
        border-bottom: 2px solid $tertiary-color;
        width: 10%;
        text-transform: uppercase;
    }
    h4{
        margin: 20px 0px 0px 0px;
    }
    div{
        
        p{
            margin: 5px 0px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        b{
            margin: 0% 4%;
        }
    }    
}

@media screen and (min-width:768px){
    .under-header-menu{
        h2{
            padding: 0% 2%;
            margin-top: 2%;
            margin-bottom: 2%;
        }   
    }
}